build/
.settings/
.externalToolBuilders/
bin/
target/
/Commands/
DatabaseOld/
/Database
/patches
bak/

pom.b.xml
pom.local.xml
pom.git.xml
dependency-reduced-pom.xml
nb*.xml
build.xml
.classpath
.project
.gitignore
.DS_STORE
/dist
/todo
/nbproject/private/
/nbproject
nb-build.xml
/nbdist/
*.iml
/src/test/
*.properties